_build
cover
deps
doc
.fetch
erl_crash.dump
*.ez
messagach-*.tar
npm-debug.log
/assets/node_modules/
/assets/coverage/
/priv/static/
.git
.gitignore
.dockerignore
README.md
docker-compose.yml
Dockerfile
